<%= form_for(@trabalhismo) do |f| %>
  <% if @trabalhismo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trabalhismo.errors.count, "error") %> prohibited this trabalhismo from being saved:</h2>

      <ul>
      <% @trabalhismo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
