<h1>Listing historia</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @historia.each do |historium| %>
  <tr>
    <td><%= historium.content %></td>
    <td><%= historium.image %></td>
    <td><%= link_to 'Show', historium %></td>
    <td><%= link_to 'Edit', edit_historium_path(historium) %></td>
    <td><%= link_to 'Destroy', historium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Historium', new_historium_path %>
