<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @historium.content %>
</p>

<p>
  <b>Image:</b>
  <%= @historium.image %>
</p>


<%= link_to 'Edit', edit_historium_path(@historium) %> |
<%= link_to 'Back', historia_path %>
