	  <header>
      <div class="header_wrap">
        <div class="header_container">
          <h1 class="logo"><%= link_to '', root_path %></h1>
          <ul class="social social-right social-circle">
            <li><a href="https://www.facebook.com/pdtms?fref=ts" class="tip facebook" title="Facebook"><img src="/images/social-icon-facebook.png" alt="Facebook"></a></li>
            <li><a href="#" class="tip skype" title="Skype"><img src="/images/social-icon-skype.png" alt="Skype"></a></li>
            <li><a href="#" class="tip twitter" title="Twitter"><img src="/images/social-icon-twitter.png" alt="Twitter"></a></li>
            <li><a href="#" class="tip rss" title="RSS"><img src="/images/social-icon-rss.png" alt="RSS"></a></li>
          </ul>
        </div>
        <!--header_container--> 
      </div>
      <!--header_wrap-->
      <div class="main-menu">
        <div class="header_wrap">
          <div class="header_container">
            <nav id="smoothmenu1" class="ddsmoothmenu">
              <ul>
                <li><a href="#" class="current">PDT</a>
                  <ul>
                    <li class="no-border"><%= link_to 'História', :controller => 'pdt', :action => 'history' %></li>
                    <li><%= link_to 'Líderes', :controller => 'pdt', :action => 'leaders' %></li>
                    <li><%= link_to 'Executiva Nacional', :controller => 'pdt', :action => 'executive' %></li>
                    <li><%= link_to 'Diretório Estadual', :controller => 'pdt', :action => 'state' %></li>
                    <li><%= link_to 'Diretórios Municipais', :controller => 'pdt', :action => 'municipal' %></li>
                  </ul>
                </li>
                <li><a href="#">Nossas Bandeiras</a>
                  <ul>
                    <li class="no-border"><%= link_to 'Trabalhismo', :controller => 'flags', :action => 'labour' %></li>
                    <li><%= link_to 'Educação', :controller => 'flags', :action => 'education' %></li>
                    <li><%= link_to 'Soberania', :controller => 'flags', :action => 'sovereignty' %></li>
                    <li><%= link_to 'Direitos Humanos', :controller => 'flags', :action => 'humanrights' %></li>
                    <li><%= link_to 'Previdência Social', :controller => 'flags', :action => 'foresight' %></li>
                  </ul>
                </li>
                <li><a href="#">Movimentos</a>
                  <ul>
                    <li class="no-border"><%= link_to 'Movimento Negro', :controller => 'movements', :action => 'black' %></li>
                    <li><%= link_to 'Movimento da Mulher', :controller => 'movements', :action => 'woman' %></li>
                    <li><%= link_to 'Juventude Socialista', :controller => 'movements', :action => 'social' %></li>
                    <li><%= link_to 'Movimento Comunitário', :controller => 'movements', :action => 'union' %></li>
                    <li><%= link_to 'Movimento FLB/PA', :controller => 'movements', :action => 'retired' %></li>
                  </ul>
                </li>
                <li><a href="#">PDT nos Poderes</a>
                  <ul>
                    <li class="no-border"><%= link_to 'Executivo', :controller => 'powers', :action => 'executive' %></li>
                    <li><%= link_to 'Judiciário', :controller => 'powers', :action => 'legislative' %></li>
                  </ul>
                </li>
                
                <li><%= link_to 'Agenda', :controller => 'agenda', :action => 'events' %></li>
                <li><%= link_to 'Contato', :controller => 'contact', :action => 'where' %></li>
              </ul>
            </nav>
            <div class="searchbar">    
                <div id="sb-search" class="sb-search">
                    <form>
                        <input class="sb-search-input" placeholder="Faça sua busca em nossa página..." type="text" value="" name="search" id="search">
                        <input class="sb-search-submit" type="submit" value="">
                        <span class="sb-icon-search"></span>
                    </form>
                </div>
            </div><!--search bar-->
          </div>
          <!--header_container--> 
        </div>
        <!--header_wrap--> 
      </div>
      <!--main-menu--> 
    </header>