
    <div id="page_wrap">
        <div class="container_wrap">
            <div class="container">
              <section class="primary-content">
                  <div id="blog-entry">
                      <article class="entry">
                        <h3><%= link_to 'Diretórios Municipais' %></h3> 
                      <div class="blog-post">
                          
                            <hr>
                            <div class="bread">
                            </div>
                            <p style="">
                            <div id="works-container" class="work-sidebar" style="padding:0px;">

                              <p>
                                <ul style="list-style:none; padding:0px;">

                                  <li>

                                    <p>Municipio<br>
                                    <strong>Água Clara</strong><br>
                                    Presidente:
                                    <strong>José Ailton Paulino dos Santos</strong><br>
                                    Email:<br>
                                    <strong>joseailtonpaulino@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong>3239-2434 </strong><br>
                                    Telefone:<br>
                                    <strong>3239-2726</strong>
                                  </p>
                                  </li>
                                  <hr>



                                   <li>
                                    <p>Municipio<br>
                                    <strong>Alcinópolis</strong><br>
                                    Presidente:
                                    <strong>Altamiro França Guimarães</strong><br>
                                    Email:<br>
                                    <strong>deuselisilva@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong> 3260-1308 </strong><br>
                                    Telefone:<br>
                                    <strong>3260-1173</strong>
                                  </p>
                                  </li>
                                  <hr>


                                    <li>
                                    <p>Municipio<br>
                                    <strong>Amambai</strong><br>
                                    Presidente:
                                    <strong> Rui Cordeiro da Silva</strong><br>
                                    Email:<br>
                                    <strong>luizcarlosmattos@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong> </strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Anastácio</strong><br>
                                    Presidente:
                                    <strong> Laércio Valério da Silva</strong><br>
                                    Email:<br>
                                    <strong>laerciovalerio2012@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong> </strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>


                                  <li>
                                    <p>Municipio<br>
                                    <strong>Anaurilândia</strong><br>
                                    Presidente:
                                    <strong>  Edom Carlos Gonzáles</strong><br>
                                    Email:<br>
                                    <strong>edomstabile@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong> </strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>
 

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Angélica</strong><br>
                                    Presidente:
                                    <strong>Antônio Cassuci</strong><br>
                                    Email:<br>
                                    <strong>pdt-angelicams@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong> </strong><br>
                                    Telefone:<br>
                                    <strong>3446-1135</strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Antônio João </strong><br>
                                    Presidente:
                                    <strong>Eliziário Xavier Brum</strong><br>
                                    Email:<br>
                                    <strong>quiquebrum@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong>3435-1666 </strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Aparecida do Taboado </strong><br>
                                    Presidente:
                                    <strong> Djalma Lucas Furquim</strong><br>
                                    Email:<br>
                                    <strong>afurquim2011@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong>3565-1332 </strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Aquidauana</strong><br>
                                    Presidente:
                                    <strong> Luiz Felipe Ribeiro Orro</strong><br>
                                    Email:<br>
                                    <strong> deputado@felipeorro.com.br</strong><br>
                                    Fax:<br>
                                    <strong>3241-2346</strong><br>
                                    Telefone:<br>
                                    <strong>3241-1800</strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Aral Moreira</strong><br>
                                    Presidente:
                                    <strong> Edison Freitas</strong><br>
                                    Email:<br>
                                    <strong> alex_freitas75@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong>3481-4385</strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Bandeirantes</strong><br>
                                    Presidente:
                                    <strong> Obadias de Lana</strong><br>
                                    Email:<br>
                                    <strong> riomanicore@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong>3261-1130</strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Bataguassu</strong><br>
                                    Presidente:
                                    <strong>Celson Magalhães de Oliveira</strong><br>
                                    Email:<br>
                                    <strong>celso.bataguassu@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Batayporã</strong><br>
                                    Presidente:
                                    <strong>José Miguel dos Santos</strong><br>
                                    Email:<br>
                                    <strong>simarques65@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong>3443-1217</strong>
                                  </p>
                                  </li>
                                  <hr>
          
                                  <li>
                                    <p>Municipio<br>
                                    <strong>Bela Vista</strong><br>
                                    Presidente:
                                    <strong>Jair Bispo Evangelista</strong><br>
                                    Email:<br>
                                    <strong> angela_vbs@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Bodoquena</strong><br>
                                    Presidente:
                                    <strong> Geraldo Nunes Siqueira</strong><br>
                                    Email:<br>
                                    <strong> pdt.bodoquena.ms@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>
 

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Bonito</strong><br>
                                    Presidente:
                                    <strong> Geraldo Alves Marques</strong><br>
                                    Email:<br>
                                    <strong> pdtbonito@gmail.com</strong><br>
                                    Fax:<br>
                                    <strong>3255-1208</strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Brasilândia</strong><br>
                                    Presidente:
                                    <strong>  Deomir Antonio Schio</strong><br>
                                    Email:<br>
                                    <strong> escmarilza@bol.com.br</strong><br>
                                    Fax:<br>
                                    <strong>3546-1212</strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Caarapó</strong><br>
                                    Presidente:
                                    <strong>  Valter de Oliveira</strong><br>
                                    Email:<br>
                                    <strong> valter.oliveira1968@uol.com.br</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong>3453-4650</strong>
                                  </p>
                                  </li>
                                  <hr>
  
                                  <li>
                                    <p>Municipio<br>
                                    <strong>Camapuã</strong><br>
                                    Presidente:
                                    <strong>  Averaldo Oliveira Fernandes</strong><br>
                                    Email:<br>
                                    <strong>pamy_jv@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>


                                  <li>
                                    <p>Municipio<br>
                                    <strong>Campo Grande</strong><br>
                                    Presidente:
                                    <strong>Paulo Francisco Coimbra Pedra</strong><br>
                                    Email:<br>
                                    <strong>paulofcpedra@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong>3027-7441</strong><br>
                                    Telefone:<br>
                                    <strong>3326-9732</strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Cassilândia</strong><br>
                                    Presidente:
                                    <strong>José Donizete Ferreira Freitas</strong><br>
                                    Email:<br>
                                    <strong> donizeteadv@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong> 3596-6469</strong><br>
                                    Telefone:<br>
                                    <strong>3596-3430</strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Chapadão do Sul</strong><br>
                                    Presidente:
                                    <strong>Valter Tenório da Costa</strong><br>
                                    Email:<br>
                                    <strong> tenoar@uol.com.br</strong><br>
                                    Fax:<br>
                                    <strong> </strong><br>
                                    Telefone:<br>
                                    <strong>3562-1846</strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Corguinho</strong><br>
                                    Presidente:
                                    <strong>Jair Cáceres Silveira</strong><br>
                                    Email:<br>
                                    <strong> jota.caceres@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong> </strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Coronel Sapucaia</strong><br>
                                    Presidente:
                                    <strong>Reginaldo de Alencar Arnaut</strong><br>
                                    Email:<br>
                                    <strong> reginaldoarnaut@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong> 3483-2711</strong><br>
                                    Telefone:<br>
                                    <strong> 3483-1155</strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Corumbá</strong><br>
                                    Presidente:
                                    <strong>Lamartine de Figueiredo Costa</strong><br>
                                    Email:<br>
                                    <strong> lamartine.costa@corumba.ms.gov.br</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong> </strong>
                                  </p>
                                  </li>
                                  <hr>
 

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Costa Rica</strong><br>
                                    Presidente:
                                    <strong> Waldomiro Bocalan</strong><br>
                                    Email:<br>
                                    <strong> biribocalan@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong>3247-1251 </strong>
                                  </p>
                                  </li>
                                  <hr>
   

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Coxim</strong><br>
                                    Presidente:
                                    <strong>Ruberval Ferreira Junior</strong><br>
                                    Email:<br>
                                    <strong>drogacenter1101@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Deodápolis</strong><br>
                                    Presidente:
                                    <strong>Francisco Euzébio de Oliveira</strong><br>
                                    Email:<br>
                                    <strong>francisco12300@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong> 3448-2515</strong>
                                  </p>
                                  </li>
                                  <hr>
            
                                 <li>
                                    <p>Municipio<br>
                                    <strong>Dois Irmãos do Buriti</strong><br>
                                    Presidente:
                                    <strong>Carlos Alberto Serafim dos Santos</strong><br>
                                    Email:<br>
                                    <strong>antoniobcdasilva@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong>3243-1516</strong><br>
                                    Telefone:<br>
                                    <strong> 3243-1231</strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Douradina</strong><br>
                                    Presidente:
                                    <strong>Darcy Freire</strong><br>
                                    Email:<br>
                                    <strong>mano_dinaprev@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong>3412-1079</strong><br>
                                    Telefone:<br>
                                    <strong>3412-1118</strong>
                                  </p>
                                  </li>
                                  <hr>


                                  <li>
                                    <p>Municipio<br>
                                    <strong>Dourados</strong><br>
                                    Presidente:
                                    <strong> Jucemar Almeida Arnal</strong><br>
                                    Email:<br>
                                    <strong>arnteo@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong>3421-4617</strong>
                                  </p>
                                  </li>
                                  <hr>


                                  <li>
                                    <p>Municipio<br>
                                    <strong>Eldorado</strong><br>
                                    Presidente:
                                    <strong> Adenir Emídio Pedro</strong><br>
                                    Email:<br>
                                    <strong> aepcontrolador@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>


                                   <li>
                                    <p>Municipio<br>
                                    <strong>Fátima do Sul</strong><br>
                                    Presidente:
                                    <strong> Aluizio Mendes Pedraza</strong><br>
                                    Email:<br>
                                    <strong> mecanica.pedaza@terra.com.br</strong><br>
                                    Fax:<br>
                                    <strong> 3467-1028</strong><br>
                                    Telefone:<br>
                                    <strong>3467-1538</strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Glória de Dourados</strong><br>
                                    Presidente:
                                    <strong> Paulo Cardim</strong><br>
                                    Email:<br>
                                    <strong> cardim-paulo@uol.com.br</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong>3466-1468</strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Guia Lopes da Laguna</strong><br>
                                    Presidente:
                                    <strong> Abrão dos Santos Meireles</strong><br>
                                    Email:<br>
                                    <strong>sfe.ms@brturbo.com.br</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong>3269-1149</strong>
                                  </p>
                                  </li>
                                  <hr>
      
                                <li>
                                    <p>Municipio<br>
                                    <strong>Inocência</strong><br>
                                    Presidente:
                                    <strong> Drauton Batista de Souza</strong><br>
                                    Email:<br>
                                    <strong> agropecuária-inocencia@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong>3574-1167</strong>
                                  </p>
                                  </li>
                                  <hr>
 
                                  <li>
                                    <p>Municipio<br>
                                    <strong>Iguatemi</strong><br>
                                    Presidente:
                                    <strong> Jorge Aquino do Amaral</strong><br>
                                    Email:<br>
                                    <strong> c.rural@terra.com.br</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Itaporã</strong><br>
                                    Presidente:
                                    <strong> Wallas Gonçalves Milfont</strong><br>
                                    Email:<br>
                                    <strong> wallasmilfont@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong>3451-2430</strong>
                                  </p>
                                  </li>
                                  <hr>
  

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Itaquiraí</strong><br>
                                    Presidente:
                                    <strong>Ana Mª Rodrigues C. Belo</strong><br>
                                    Email:<br>
                                    <strong> simted.itaquirai@hotmail.com </strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong> 3476-1392</strong>
                                  </p>
                                  </li>
                                  <hr>

                                   <li>
                                    <p>Municipio<br>
                                    <strong>Ivinhema</strong><br>
                                    Presidente:
                                    <strong>Valdemar Ângelo</strong><br>
                                    Email:<br>
                                    <strong>contato.vale@gmail.com </strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong> 3442-1887</strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Japorã</strong><br>
                                    Presidente:
                                    <strong> Neulandia Salete Brizola</strong><br>
                                    Email:<br>
                                    <strong>conveniosjapora@bol.com.br </strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong>3475-1137</strong>
                                  </p>
                                  </li>
                                  <hr>


                                  <li>
                                    <p>Municipio<br>
                                    <strong>Jaraguari</strong><br>
                                    Presidente:
                                    <strong> Vagner Gomes Vilela</strong><br>
                                    Email:<br>
                                    <strong>vaguinho.12345@hotmail.com </strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong>3285-1428</strong>
                                  </p>
                                  </li>
                                  <hr>


                                  <li>
                                    <p>Municipio<br>
                                    <strong>Jardim</strong><br>
                                    Presidente:
                                    <strong>Walter Pitarelli</strong><br>
                                    Email:<br>
                                    <strong>walter.pitarelli@hotmail.com </strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong>3251-1169</strong>
                                  </p>
                                  </li>
                                  <hr>


                                  <li>
                                    <p>Municipio<br>
                                    <strong>Jatei</strong><br>
                                    Presidente:
                                    <strong>Paulo Eduardo Simplício da Silva</strong><br>
                                    Email:<br>
                                    <strong> paulo_jatei@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong>3465-1026</strong>
                                  </p>
                                  </li>
                                  <hr>
  
                                  <li>
                                    <p>Municipio<br>
                                    <strong>Juti</strong><br>
                                    Presidente:
                                    <strong>Neri Muncio Compagnoni</strong><br>
                                    Email:<br>
                                    <strong>adrianovereador@bol.com.br</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong>3465-1135</strong>
                                  </p>
                                  </li>
                                  <hr>


                                  <li>
                                    <p>Municipio<br>
                                    <strong>Ladário</strong><br>
                                    Presidente:
                                    <strong> Osvalmir Nunes da Silva</strong><br>
                                    Email:<br>
                                    <strong>aurieneguerra@gmail.com</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong>3226-2123</strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Laguna Carapã </strong><br>
                                    Presidente:
                                    <strong>Emilio Cezar Camargo Brandão</strong><br>
                                    Email:<br>
                                    <strong>cezarbrandaoms@gmail.com</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>

                                   <li>
                                    <p>Municipio<br>
                                    <strong>Maracaju </strong><br>
                                    Presidente:
                                    <strong>Kleber Martins Barbosa</strong><br>
                                    Email:<br>
                                    <strong>kleber.vereador@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong>3454-5411</strong>
                                  </p>
                                  </li>
                                  <hr>


                                  <li>
                                    <p>Municipio<br>
                                    <strong>Miranda </strong><br>
                                    Presidente:
                                    <strong>Celso Moraes de Souza</strong><br>
                                    Email:<br>
                                    <strong>camaramm@star5.com.br </strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong>3242-1170</strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Mundo Novo </strong><br>
                                    Presidente:
                                    <strong>Cleunice Henrique Cardoso de Souza</strong><br>
                                    Email:<br>
                                    <strong>cleu68@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Naviraí</strong><br>
                                    Presidente:
                                    <strong>Antonio Carlos Klein</strong><br>
                                    Email:<br>
                                    <strong>pdtnavirai@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong>3461-1070</strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Nioaque</strong><br>
                                    Presidente:
                                    <strong>Danilo Bortoloni Catti</strong><br>
                                    Email:<br>
                                    <strong> danilocatti@uol.com.br</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>
                                 

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Nova Alvorada do Sul</strong><br>
                                    Presidente:
                                    <strong> Nélio Dias Justen</strong><br>
                                    Email:<br>
                                    <strong> neliojusten@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Nova Andradina</strong><br>
                                    Presidente:
                                    <strong> Milton Fernandes Sena</strong><br>
                                    Email:<br>
                                    <strong>miltonsenainmetro@gmail.com</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Novo Horizonte do Sul </strong><br>
                                    Presidente:
                                    <strong>Jaconias da Silva Rosa Filho</strong><br>
                                    Email:<br>
                                    <strong>pdtnhs@gmail.com</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Paraíso das Águas</strong><br>
                                    Presidente:
                                    <strong>Luiz Claudio Siena</strong><br>
                                    Email:<br>
                                    <strong>dannersiena@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Paranaíba</strong><br>
                                    Presidente:
                                    <strong>Longuinho Alves de Oliveira</strong><br>
                                    Email:<br>
                                    <strong>pdt12paranaiba@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Paranhos</strong><br>
                                    Presidente:
                                    <strong>Julio Cesar de Souza</strong><br>
                                    Email:<br>
                                    <strong>vereadorjulio@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Pedro Gomes</strong><br>
                                    Presidente:
                                    <strong> Reinaldo de Carvalho</strong><br>
                                    Email:<br>
                                    <strong>reinaldo.carvalho@tjms.jus.br</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Ponta Porã</strong><br>
                                    Presidente:
                                    <strong> Oscar Goldoni</strong><br>
                                    Email:<br>
                                    <strong>kariellydolaine@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Porto Murtinho</strong><br>
                                    Presidente:
                                    <strong> Antonio Rosa Cabral</strong><br>
                                    Email:<br>
                                    <strong>cabralmurtinho@bol.com.br</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong>3287-1229</strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Ribas do Rio Pardo</strong><br>
                                    Presidente:
                                    <strong> Mario Augusto Vissoto</strong><br>
                                    Email:<br>
                                    <strong>mariovissoto@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong>3238-1375</strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Rio Brilhante</strong><br>
                                    Presidente:
                                    <strong> Dalmir Estigarribia Marques</strong><br>
                                    Email:<br>
                                    <strong> glennamarques@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Rio Negro</strong><br>
                                    Presidente:
                                    <strong> Ronan Pinheiro da Silva</strong><br>
                                    Email:<br>
                                    <strong> ronan-pinheiro@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong> 3278-1025</strong><br>
                                    Telefone:<br>
                                    <strong>3278-1389</strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Rio Verde de Mato Grosso</strong><br>
                                    Presidente:
                                    <strong>Edeval Lourenço de Castro</strong><br>
                                    Email:<br>
                                    <strong>edeval_castro@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong> </strong><br>
                                    Telefone:<br>
                                    <strong>3292-4874</strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Rochedo</strong><br>
                                    Presidente:
                                    <strong>Adão Pedro Arantes</strong><br>
                                    Email:<br>
                                    <strong>pmrochedo@terra.com.br</strong><br>
                                    Fax:<br>
                                    <strong> </strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Santa Rita do Pardo </strong><br>
                                    Presidente:
                                    <strong>José Ferreira de Matos</strong><br>
                                    Email:<br>
                                    <strong>jose.matteus@gmail.com</strong><br>
                                    Fax:<br>
                                    <strong> </strong><br>
                                    Telefone:<br>
                                    <strong>3591-1122</strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>São Gabriel do Oeste</strong><br>
                                    Presidente:
                                    <strong>Leocir Paulo Montagna</strong><br>
                                    Email:<br>
                                    <strong>  mad_montanha@terra.com.br</strong><br>
                                    Fax:<br>
                                    <strong> </strong><br>
                                    Telefone:<br>
                                    <strong>3295-1337</strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Selvíria</strong><br>
                                    Presidente:
                                    <strong>Gilson Alves de Souza</strong><br>
                                    Email:<br>
                                    <strong>gilsonpedreiro12@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong> </strong><br>
                                    Telefone:<br>
                                    <strong>3579-1013</strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Sete Quedas</strong><br>
                                    Presidente:
                                    <strong>José Alves da Rocha</strong><br>
                                    Email:<br>
                                    <strong>devereador7q@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong> </strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Sidrolândia</strong><br>
                                    Presidente:
                                    <strong>Gerson Claro Dino</strong><br>
                                    Email:<br>
                                    <strong> gclaro.adv@terra.com.br</strong><br>
                                    Fax:<br>
                                    <strong> </strong><br>
                                    Telefone:<br>
                                    <strong>3272-5240</strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Sonora</strong><br>
                                    Presidente:
                                    <strong>Valtedon Martins de Novais</strong><br>
                                    Email:<br>
                                    <strong>simoessonora@uol.com.br</strong><br>
                                    Fax:<br>
                                    <strong> </strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>


                                  <li>
                                    <p>Municipio<br>
                                    <strong>Tacuru</strong><br>
                                    Presidente:
                                    <strong>Djan Vinicios Nascimento Mello</strong><br>
                                    Email:<br>
                                    <strong> djanv8@gmail.com</strong><br>
                                    Fax:<br>
                                    <strong> </strong><br>
                                    Telefone:<br>
                                    <strong>3478-1524</strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Taquarussu</strong><br>
                                    Presidente:
                                    <strong>Claudinet Vicenti Crivelli</strong><br>
                                    Email:<br>
                                    <strong> mariludebiasi@yahoo.com.br</strong><br>
                                    Fax:<br>
                                    <strong>3444-1399 </strong><br>
                                    Telefone:<br>
                                    <strong>3444-1118</strong>
                                  </p>
                                  </li>
                                  <hr>
                                   
                                 <li>
                                    <p>Municipio<br>
                                    <strong>Terenos</strong><br>
                                    Presidente:
                                    <strong>Assis Sales Rocha</strong><br>
                                    Email:<br>
                                    <strong> pdterenos@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>
 

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Três Lagoas</strong><br>
                                    Presidente:
                                    <strong>Juvenilo Candido da Silva</strong><br>
                                    Email:<br>
                                    <strong>sistemaexitus@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong>3522-0410</strong><br>
                                    Telefone:<br>
                                    <strong>3522-0060</strong>
                                  </p>
                                  </li>
                                  <hr>

                                  <li>
                                    <p>Municipio<br>
                                    <strong>Vicentina</strong><br>
                                    Presidente:
                                    <strong>Lupércio Nantes Castilho</strong><br>
                                    Email:<br>
                                    <strong> elenildo_sb@hotmail.com</strong><br>
                                    Fax:<br>
                                    <strong></strong><br>
                                    Telefone:<br>
                                    <strong></strong>
                                  </p>
                                  </li>
                                  <hr>
                                 
                                 
    
                                </ul> </p>                 
                              
             
                               </div>


                            </p><br>
                           <hr>
                            <p></p>
                            <hr>
                        </div>
                        </article>
                        <h3 class="h-title">Últimas noticias secundárias</h3>
                        <div class="related-post">
                            <ul class="da-thumbs">
                                <% @feed = Newss.find(:all, :limit => 3, :order => 'id desc') %>
                                <% @feed.each do |fs| %>
                              <li>
                                  <a href="images/preview/work_2_l.jpg" rel="prettyPhoto[gallery1]" title="Image Title Here">
                                        <%= image_tag fs.imagenews_url(:thumb) %>
                                        <div><span class="image-link-icon"></span></div>
                                    </a>
                                    <h3><%= link_to fs.title, :controller => 'home', :action => 'shownoticesec', :id => fs.id %></h3>
                                </li>
                                <% end %>
                            </ul>
                        </div>


              </section>
                <aside class="sidebar">
    <div class="side">
                      <h3 class="head-title">Veja mais páginas</h3>
                        <ul id="nav">
                        <li><a href="#">PDT</a>
                          <ul>
                            <li><%= link_to 'História', :controller => 'pdt', :action => 'history' %></li>
                            <li><%= link_to 'Líderes', :controller => 'pdt', :action => 'leaders' %></li>
                            <li><%= link_to 'Executiva Nacional', :controller => 'pdt', :action => 'executive' %></li>
                            <li><%= link_to 'Diretório Estadual', :controller => 'pdt', :action => 'state' %></li>
                            <li><%= link_to 'Diretórios Municipais', :controller => 'pdt', :action => 'municipal' %></li>
                          </ul>
                        </li>
                        <li><a href="#">Nossas Bandeiras</a>
                          <ul>
                    <li><%= link_to 'Trabalhismo', :controller => 'flags', :action => 'labour' %></li>
                    <li><%= link_to 'Educação', :controller => 'flags', :action => 'education' %></li>
                    <li><%= link_to 'Soberania', :controller => 'flags', :action => 'sovereignty' %></li>
                    <li><%= link_to 'Direitos Humanos', :controller => 'flags', :action => 'humanrights' %></li>
                    <li><%= link_to 'Previdência Social', :controller => 'flags', :action => 'foresight' %></li>
                          </ul>
                        </li>
                        <li><a href="#">Movimentos</a>
                          <ul>
                            <li><%= link_to 'Movimento Negro', :controller => 'movements', :action => 'black' %></li>
                    <li><%= link_to 'Movimento da Mulher', :controller => 'movements', :action => 'woman' %></li>
                    <li><%= link_to 'Juventude Socialista', :controller => 'movements', :action => 'social' %></li>
                    <li><%= link_to 'Movimento Comunitário', :controller => 'movements', :action => 'union' %></li>
                    <li><%= link_to 'Movimento FLB/PA', :controller => 'movements', :action => 'retired' %></li>
                  
                          </ul>
                        </li>
                        <li><a href="#">PDT nos Poderes</a>
                          <ul>
                            <li><%= link_to 'Executivo', :controller => 'powers', :action => 'executive' %></li>
                    <li><%= link_to 'Judiciário', :controller => 'powers', :action => 'legislative' %></li>
                          </ul>
                        </li>
                      
                       
                      </ul>
                    </div><!-- end side -->
                 
              </aside>
            </div><!--end:container-->
        </div><!--end:container_wrap-->
    </div><!--end:page_wrap-->