    <div id="page_wrap" >
        <div class="container_wrap" style="padding:10px; margin-top:20px; background:#dfdfdf;">
            <div class="container">
                <div class="content-wrapper">
                    <div id="featured" class="featured3" style="height:400px;">
                      <div class="bx-wrapper" style=" width:68%; height:300px; margin-left:60px; margin-top:20px;">
                       
                        <ul class="bxslider" style="">
                          <% @featured_news.each do |fn| %>
                            
                          <li style="color:white; padding-bottom:40px; width:70%; opacity:80; bottom:0; background:black; filter:alpha(opacity=40); "><%= image_tag(fn.imagenews_url(:mega_thumb).to_s , :style => "height:300px; width:100%;")  %><span style="color:white; text-weight:bold; padding-left:30px; margin-top:10px; position:absolute; font-size:14px;"><%= link_to fn.title, {:controller =>  'home', :action => 'shownoticedef', :id => fn.id} , :style => 'color:white;'  %></span></li>
                            
                           
                                              
                          <% end %>
                        </ul>


                        
                      </div><!--end-->
                      <div id="bx-pager" class="featured-detail-left" style="">
                        <% @featured_news.each do |fn| %>
                          <a data-slide-index="0" href="#" style="height:48px;">
                            <%= image_tag(fn.imagenews_url(:mega_thumb).to_s , :style => "height:40px;")  %>
                            <h5 style="color:#000; "><%= fn.title %><br><span><%=  truncate(fn.description) %></span></h5>
                          </a>
                          <% end %>
                      </div> 
                    </div><!--end:featured-->

                    <center><%= link_to  'Ver todos os destaques', :controller => 'home', :action => 'newsfall' %></center> 
                    <hr>
                    <center><h2 class="head-title">Noticias Secundárias</h2></center>
                    <br>
                      <div class="content-wrapper" style="background:none;">
                        <div class="serv" style="padding-left:30px;">
                        <% @secondary_news.each do |sn| %>
                        <div class="one-fourth first">
                            <%= image_tag sn.imagenews_url(:mini_thumb).to_s %>
                            <h3><%= truncate sn.title %></h3>
                            <p style="min-height:80px; min-width:256px;"><%= truncate(sn.description, :lenght => '350') %></p>
                            <span><%= link_to 'Ler Notícia', :controller => 'home', :action => 'shownoticesec', :id => sn.id %></span>
                        </div>
                        <% end %>
                    </div>
                    </div>
               
                   
                     <center><%=  link_to "Visualizar todas as notícias secundárias", :controller => 'home', :action => 'newssall' %></center> 
                    <br><br><hr>

                    <!-- Carregando feed de videos do partido -->

                    <div class="list_work">
                    <h2 class="head-title">Últimos Videos do PDT</h2>
                        <ul id="mycarousel" class="jcarousel-skin-tango item da-thumbs">
                          <% @moves.each do |move| %>
                          <!-- Feed of moves -->
                            <li>
                                <a href="images/preview/work_1_l.jpg" rel="prettyPhoto[gallery1]" title="Image Title Here">
                                    <iframe width="245" height="235" src="<%= move.link %>" frameborder="0" allowfullscreen></iframe>
                                    <div>
                                        <h2>PDT MS</h2>
                                        <span class="image-hover-icon"></span>
                                        <small>Nossos videos</small>
                                    </div>
                                </a>
                                <h2 class="entry-title"><a href="#">PDT MS</a></h2>
                            </li>
                            <% end %>
                            <!--End moves-->
                        </ul>
                    </div><!--end:list_work-->

                    <!--Fechando feed de videos-->

                    <div class="whole">
                      <div class="one-half first">
                          <h2 class="head-title" style="margin-left:10%;"><span>Artigos</span></h2>
                          <ul class="listcheck">

                            <% @artigos.each do |a| %>
                            <li><%= link_to a.title, :controller => 'home', :action => 'readarticle', :id => a.id  %></li>
                            <% end %>
                          </ul>
                      </div>
                      <div class="one-half">
                          <h2 class="head-title"><span>Calendário de Eventos</span></h2>
                          <!-- Plugin jQuery tazendo os eventos do partido -->
                      </div>
                    </div><!--end:whole-->


                    <div class="whole">
                      <div class="one-half first">
                          <h2 class="head-title" style="margin-left:10%;"><span>Galeria de Fotos</span></h2>

                               <ul class="latest-project">
                                <% @galerias.each do |g| %>
                                <li><a href="#"><%= image_tag g.imagefoto_url(:mini_thumb).to_s %></a></li>
                                <% end %>
                                </ul>
                      </div>
                      <div class="one-half">
                          <h2 class="head-title"><span>Enquete</span></h2>
                          <!-- enquete -->



                      </div>
                    </div><!--end:whole-->

                </div><!--end:content-wrapper-->
            </div><!--end:container-->
        </div><!--end:container_wrap-->
    </div><!--end:page_wrap-->