    <div id="page_wrap" style="margin-bottom:40px;">
        <div class="container_wrap" style="padding:10px; margin-top:20px; background:#dfdfdf;">
            <div class="container">
                <div class="content-wrapper">
                    <div id="featured" class="featured3" style="height:400px;">
                      <div class="bx-wrapper" style=" width:68%; height:300px; margin-left:60px; margin-top:20px;">
                       
                        <ul class="bxslider" style="">
                          <% @featured_news.each do |fn| %>
                            
                          <li style="color:white; padding-bottom:40px; width:70%; opacity:80; bottom:0; background:black; filter:alpha(opacity=40); "><%= image_tag(fn.imagenews_url(:mega_thumb).to_s , :style => "height:300px; width:100%;")  %><span style="color:white; text-weight:bold; padding-left:30px; margin-top:10px; position:absolute; font-size:14px;"><%= link_to fn.title, {:controller =>  'home', :action => 'shownoticedef', :id => fn.id} , :style => 'color:white;'  %></span></li>
                            
                           
                                              
                          <% end %>
                        </ul>


                        
                      </div><!--end-->
                      <div id="bx-pager" class="featured-detail-left" style="">
                        <% @featured_news.each do |fn| %>
                          <a data-slide-index="0" href="#" style="height:48px;">
                            <%= image_tag(fn.imagenews_url(:mega_thumb).to_s , :style => "height:40px;")  %>
                            <h5 style="color:#000; "><%= fn.title %><br><span><%=  truncate(fn.description, length: 70) %></span></h5>
                          </a>
                          <% end %>
                      </div> 
                    </div><!--end:featured-->

                    <center><%= link_to  'Ver todos os destaques', :controller => 'home', :action => 'newsfall' %></center> 
                    <hr>
                    <center><h2 class="head-title">Noticias Secundárias</h2></center>
                    <br>
                      <div class="content-wrapper" style="background:none;">
                        <div class="serv" style="padding-left:30px;">
                        <% @secondary_news.each do |sn| %>
                        <div class="one-fourth first">
                            <%= image_tag sn.imagenews_url(:mini_thumb).to_s %>
                            <h3><%= truncate sn.title %></h3>
                            <p style="min-height:80px; min-width:256px;"><%= truncate(sn.description, length: 200) %></p>
                            <span><%= link_to 'Ler Notícia', :controller => 'home', :action => 'shownoticesec', :id => sn.id %></span>
                        </div>
                        <% end %>
                    </div>
                    </div>
               
                   
                     <center><%=  link_to "Visualizar todas as notícias secundárias", :controller => 'home', :action => 'newssall' %></center> 
                    <br><br><hr>

                    <!-- Carregando feed de videos do partido -->

                    <div class="list_work">
                    <h2 class="head-title">Últimos Videos do PDT</h2>
                        <ul id="mycarousel" class="jcarousel-skin-tango item da-thumbs">
                          <% @moves.each do |move| %>
                          <!-- Feed of moves -->
                            <li>
                                <a href="images/preview/work_1_l.jpg" rel="prettyPhoto[gallery1]" title="Image Title Here">
                                    <iframe width="245" height="235" src="<%= move.link %>" frameborder="0" allowfullscreen></iframe>
                                    <div>
                                        <h2>PDT MS</h2>
                                        <span class="image-hover-icon"></span>
                                        <small>Nossos videos</small>
                                    </div>
                                </a>
                                <h2 class="entry-title"><a href="#">PDT MS</a></h2>
                            </li>
                            <% end %>
                            <!--End moves-->
                        </ul>
                    </div><!--end:list_work-->

                    <!--Fechando feed de videos-->
                     <br><br><hr>

                    <div class="whole">
                      <div class="one-half first">
                          <h2 class="head-title" style="margin-left:10%;"><span>Artigos</span></h2>
                          <ul class="listcheck" style="padding-left:20px;">

                            <% @artigos.each do |a| %>
                            <li><%= link_to a.title, :controller => 'home', :action => 'readarticle', :id => a.id  %></li>
                            <% end %>
                          </ul>
                      </div>
                      <div class="one-half">
                          <h2 class="head-title"><span>Calendário de Eventos</span></h2>
                          <% 

                          @hoje =  Date.today
                          @aux = 0
                            %>
                          <% @events.each do |e| %>

                          <%  if e.date.strftime('%Y-%m-%d') == @hoje %>                           
                            <% @aux = @aux + 1 %>

                          <% end %>

                          <% end %>
                          <% if @aux > 0 %>

                          <div class="alert green_alert" style="width:80%;">
                                <p>Nós temos <%= @aux %> para hoje!</p>
                            </div><br><br><br><br>

                          <% end %>
                          <% if @aux == 0 %>
                            <div class="alert green_alert" style="width:80%;">
                                <p>Não possuimos nenhum evento para o dia de hoje!</p>
                            </div><br><br><br><br>
                          <% end %>
                          <!-- Plugin jQuery tazendo os eventos do partido -->
                          <div class="dzscalendar skin-black" id="tr1" style=" padding:20px;">
                <div class="events">
                <div class="event-tobe" data-repeat="everymonth" data-day="4">
                    <div style="width:170px;">
                        <h5>Meeting at Palace</h5>
                        <span class="label">Date</span> 11-8-2012 at 6PM<br/>
                        <span class="label">Location</span> Bremen, Germany<br/>
                        <br/>Ana is meeting with you in the town square.
                    </div>
                </div>
                <div class="event-tobe" data-repeat="everymonth" data-day="18" data-type="link" data-href="http://bit.ly/nM4R6u">
                    <div style="width:170px;">
                        <h5>Meeting at Palace</h5>
                        <span class="label">Date</span> 11-8-2012 at 6PM<br/>
                        <span class="label">Location</span> Bremen, Germany<br/>
                        <br/>Ana is meeting with you in the town square.
                    </div>
                </div>
                <div class="event-tobe" data-repeat="everymonth" data-day="10"></div>

            </div>
                          </div>
                      </div>
                    </div><!--end:whole-->

                     <br><br><hr>
                    <div class="whole">
                    <div class="one-half first">
                      <h2 class="head-title" style="margin-left:10%;"><span>Galeria de Fotos</span></h2>
                      <div id="tab" style="padding-left:20px;">
                          <ul class="nav">
                            <% @galleryall.each do |gal| %>

                            <li class="<% if  @count == 0 %>nav-one<% end %> <% if  @count == 1 %>nav-two<% end %>"><a href="<% if  @count == 0 %>#recent<% end %><% if  @count == 1 %>#popular<% end %>" class="<% if  @count == 0 %>current<% end %><% if  @count == 1 %><% end %>"><%= gal.name %></a></li>
                              
                             <% @count = @count + 1 %> 

                            <% end %>
                          </ul>
                          <div class="list-wrap" style="background: white;">

                            <% @galleryall.each do |gal| %>


                            <% @foto = Foto.where(gallery_id: gal.id).limit(2) %>

                            <div id="<% if @aux == 0 %>recent<% end %><% if @aux == 1 %>popular<% end %>" class="<% if @aux == 0 %>blog<% end %><% if @aux == 1 %>hide blog<% end %>">

                              <% @foto.each do |f| %>
                                <div class="third">
                                    <%= image_tag f.imagefoto_url(:mini_thumb).to_s %>
                                    <span><a href="#"><%= gal.name %></a></span><br>
                                    <small><a href="blog.html"><%= gal.created_at.strftime('%d %m %y') %></a></small>
                                </div>

                               <% end %> 
                            </div>

                            <% @aux = @aux + 1  %>
                            <% end %>

                            </div>
                        </div><!--end:tab-->
                    </div><!--end one-half-->

                      <div class="one-half">
                          <h2 class="head-title"><span>Enquete</span></h2>
                          <!-- enquete -->
                          <p style="color:red;"><%= notice %></p>
                          
                           <%= form_tag(controller: "home", action: "vota_enquete", method: "post")  do  %>

                            <%= label_tag(@poll.questionmain) %>

                            <br><br>

                            <%= radio_button_tag(:vote, 1) %><%= label_tag(@poll.oneanswer) %><br>
                            <%= radio_button_tag(:vote, 2) %><%= label_tag(@poll.twoanswer) %><br>
                            <%= radio_button_tag(:vote, 3) %><%= label_tag(@poll.threeanswer) %><br>
                            <%= radio_button_tag(:vote, 4) %><%= label_tag(@poll.fouranswer) %><br>
                            <%= hidden_field_tag(:poll_id, @poll.id) %>
                            <hr>
                            <%= submit_tag("Votar") %>


                           <% end %>
                      </div>
                    </div><!--end:whole-->

                </div><!--end:content-wrapper-->
            </div><!--end:container-->
        </div><!--end:container_wrap-->
    </div><!--end:page_wrap-->