
    <div id="page_wrap">
        <div class="container_wrap">
            <div class="container">
            	<section class="primary-content">
                	<div id="blog-entry">
                    	<article class="entry">
                        <h3><%= link_to 'Trabalhismo' %></h3> 
                    	<div class="blog-post">
                        	
                            
                            <div class="bread">

                            </div>
                            <p style="">

                             <strong>  Por Leonardo Zumpichiatti </strong><br>
 
Para entender o Trabalhismo, é importante compreender que o Estado surgiu da necessidade do homem em organizar o trabalho para o bem coletivo. Entretanto, a história e a antropologia nos relatam que essa instituição foi tomada por uma minoria que se apropriou do poder para obter vantagens pessoais. Decorre então o crescimento dessas sociedades até a formação de reinos e impérios, chegando à Revolução Francesa e à Revolução Industrial, marcos da organização do Estado Moderno e da produção de bens para a sociedade.<br><br>
Consolida-se então um Estado e um modo de produção dominados por uma elite, numa relação social em que há exploradores, detentores dos meios de produção, e explorados, possuidores apenas de mão de obra para sobreviverem.<br>
Nesse momento da história, se apresenta o Trabalhismo enquanto alternativa aos explorados. Se toda produção é realizada por intermédio do trabalho, por que então o trabalhador fica com a ínfima parte da riqueza gerada?<br>
Entretanto, o Trabalhismo brasileiro avançou nessa discussão capital x trabalho com a compreensão de que ela também se reproduz no contexto internacional, no qual países desenvolvidos, detentores de capital e tecnologia, importam matérias-primas e vendem produtos com valor agregado, gerando pobreza ao resto do mundo.<br>
O PDT (tal como o antigo PTB) entende e demonstra que a prática do Trabalhismo se dá na regulação e ampliação dos direitos dos trabalhadores e na educação como fator de desenvolvimento e superação da exploração internacional. Portanto, nosso Trabalhismo se atém à geração e distribuição da riqueza como elemento fundamental de sua teoria.
Na economia – Os trabalhistas trazem para o campo da economia sua doutrina enquanto prática, pois é a política que determina as relações econômicas, sobretudo por estarem calcadas na propriedade e na concentração de renda.<br>
A Escola Clássica afirma que os Fatores de Produção resumem-se em três: terra, trabalho e capital, sendo que atualmente é considerado o fator tecnologia dentre estes.
Dessa forma, a bandeira da Reforma Agrária enquadra-se numa economia trabalhista, pois a desconcentração de terras democratiza o acesso à renda e à produção de alimentos para dar saúde e força à nação. O segundo fator, o trabalho, é motor da distribuição justa de renda e formação de um mercado consumidor que fortaleça a economia.<br><br>
Quanto ao capital, é importante ressaltar que na economia ele não se resume à moeda, mas a toda propriedade que reproduza o capital. Numa economia trabalhista, destacamos o papel das finanças e das matérias-primas. Nesta, a nacionalização do subsolo no governo Vargas demonstra a preocupação em assegurar para o povo sua riqueza herdada, além da defesa de uma exploração consciente e sustentável. Quanto às finanças, o rentismo e a usura são duramente condenados, os quais inclusive foram o motivo de deposição do presidente Jango. Numa visão trabalhista, as finanças são necessárias para sustentar o crescimento econômico, levando crédito para os que desejam produzir.<br>
Por fim, a tecnologia é fundamental numa economia moderna, mas para tanto necessita de cérebros bem preparados. Eis então a bandeira mais destacada do PDT: a educação.<br>
Além do fortalecimento do potencial econômico brasileiro, não podemos nos esquecer das "Perdas Internacionais", termo cunhado por Brizola que sintetiza a espoliação sofrida pelo País por intermédio da venda de matérias-primas in natura, a remessa de lucros das multinacionais e o pagamento de juros, dividendos e royalties ao exterior. Portanto, uma economia nos moldes do trabalhismo preconiza um Estado fortalecido e altamente democratizado para gerir as riquezas da Nação.<br><br>
 
<h4>Situação brasileira</h4><br><br>
<p><strong>Por Antônio de Pádua</strong></p>
 
<p>De 1500 a 1808, o Brasil foi tão-somente uma terra sujeita a uma dura ocupação militar portuguesa, onde tudo era proibido. Era proibida, por exemplo, a fabricação de aguardente, de vinho de mel, de sabão, de chapéus e algodões, a cultura de arroz, a produção de sal, a abertura de escolas, manufaturas em geral, além da circulação de correspondência fechada e de impressos, inclusive jornais.
Com a chegada de D. João VI, é que passou o Brasil a possuir status com alguma autonomia e a criar instituições públicas próprias. Com a independência, primeiro a monarquia e depois a república, o País iniciou seu desenvolvimento contínuo, sem, contudo, mudar seus alicerces sociais com a profundidade desejável.<br><br>
A partir de novembro de 1930, com a posse do Governo Provisório da Revolução de 30, essa era a denominação oficial do governo instalado a 3 de novembro de 1930, resultante do movimento armado iniciado em 3 de outubro daquele ano, realmente, houve profundas transformações estruturais nas relações sociais, nas normas políticas, na economia e nas finanças do País, constituindo-se na primeira, e única até aqui, revolução brasileira.<br>
Como a revolução, sempre, traz consigo a contrarrevolução, a nossa não poderia ser exceção: já com menos de dois anos, explodiu a primeira insurreição armada como contrarrevolução de 30 (a denominada Revolução Legalista de São Paulo); seguindo-se a ela inúmeras ações contrarrevolucionárias com golpes civis e militares, além de grande ação política, como a que há pouco tempo nos estarreceu presenciando a proclamação pública de um presidente da República de que "acha-se finda a era Vargas".
Inicialmente, o Programa da Revolução de 30 e posteriormente o enorme conjunto de leis, atos e instituições criadas durante o Governo de Getúlio Vargas até 1945 construíram uma nova mentalidade econômico-político-social que encontrou na cultura e na excepcional inteligência de Alberto Pasqualini a formulação de princípios e métodos que vieram a se constituir no Trabalhismo brasileiro.
O Trabalhismo brasileiro, hoje, acha-se perfeitamente definido no manifesto e no programa de lançamento do Partido Democrático Trabalhista – PDT, elaborados à vista da Carta-Testamento de Getúlio Vargas (24.08.1954) e da Carta de Lisboa (17.06.1979), complementados pela Carta de Mendes (23.01.1983).<br><br>
A condição básica do Trabalhismo é a propriedade seletiva (pública e privada) dos meios de produção, tendo como elemento fundamental o trabalhador e como objetivo final a satisfação das necessidades sociais.<br>
Note-se que o trabalhador, isto é, a pessoa humana, é o principal e não o capital ou o lucro. Esta é a mentalidade que diferencia o trabalhismo. É evidente que o capital é muito importante, mas mais do que ele é a pessoa que executa o trabalho, pois sem ela de nada adiantaria o capital.
Esta é a razão pela qual o Trabalhismo foi e é radicalmente contra o chamado neoliberalismo, instituído pelo denominado Acordo de Washington, que estabeleceu normas rígidas para privilegiar os resultados financeiros em detrimento, principalmente, do desenvolvimento das nações emergentes e subdesenvolvidas, provocando, além do desemprego de milhões de trabalhadores, um atraso de pelo menos 10 anos e, como não poderia deixar de ser, propiciou uma monumental e deslavada especulação criminosa a partir das Bolsas de Valores, estendendo-se pelas grandes organizações financeiras mundiais, prioritariamente, norte-americanas. Aliás, foi em consequência de manobras especulativas que acabaram vindo à luz as fraudes e golpes financeiros que estão lesando milhões de aplicadores e clientes daquelas instituições.<br><br>
Pasqualini ensina: "O poder aquisitivo deve ser a contrapartida do trabalho socialmente útil. Esse trabalho é o único e verdadeiro lastro da moeda. A posse de poder aquisitivo que não derive dessa forma de trabalho representa uma apropriação injusta do trabalho alheio e se caracteriza como usura social. O objetivo fundamental do Trabalhismo deve ser a eliminação crescente da usura social e alcançar uma tal organização da sociedade em que todos possam realizar um trabalho socialmente útil de acordo com suas tendências e aptidões."<br><br>
PDT socialista – O PDT é um partido socialista? Getúlio Vargas, discursando em Porto Alegre/RS, em 09.09.1950, declarou: "A ação trabalhista poderá ser a meia-estação entre o capitalismo e o socialismo." A Carta de Mendes (23.01.1983) afirma: "O PDT é um partido socialista." Visto que o socialismo é uma posição limite, isto significa que o PDT, por toda sua ação, sempre, dele se aproximará mais e mais. Assim, aquele que se definir como Trabalhista será, necessariamente, um idealista e o seu ideal é o socialismo.<br><br>
Diante da atual crise econômica mundial, o que resta como solução é exatamente aquilo que o Trabalhismo prega: "Concepção político-econômica em que o trabalho se sobrepõe ao capital."</p> 

                            </p><br>
                           <hr>
                            <p></p>
                            <hr>
                        </div>
                        </article>
                        <h3 class="h-title">Últimas noticias secundárias</h3>
                        <div class="related-post">
                            <ul class="da-thumbs">
                                <% @feed = Newss.find(:all, :limit => 3, :order => 'id desc') %>
                                <% @feed.each do |fs| %>
                            	<li>
                                	<a href="images/preview/work_2_l.jpg" rel="prettyPhoto[gallery1]" title="Image Title Here">
                                        <%= image_tag fs.imagenews_url(:thumb) %>
                                        <div><span class="image-link-icon"></span></div>
                                    </a>
                                    <h3><%= link_to fs.title, :controller => 'home', :action => 'shownoticesec', :id => fs.id %></h3>
                                </li>
                                <% end %>
                            </ul>
                        </div>


            	</section>
                <aside class="sidebar">
    <div class="side">
                      <h3 class="head-title">Veja mais páginas</h3>
                        <ul id="nav">
                        <li><a href="#">PDT</a>
                          <ul>
                            <li><%= link_to 'História', :controller => 'pdt', :action => 'history' %></li>
                            <li><%= link_to 'Líderes', :controller => 'pdt', :action => 'leaders' %></li>
                            <li><%= link_to 'Executiva Nacional', :controller => 'pdt', :action => 'executive' %></li>
                            <li><%= link_to 'Diretório Estadual', :controller => 'pdt', :action => 'state' %></li>
                            <li><%= link_to 'Diretórios Municipais', :controller => 'pdt', :action => 'municipal' %></li>
                          </ul>
                        </li>
                        <li><a href="#">Nossas Bandeiras</a>
                          <ul>
                    <li><%= link_to 'Trabalhismo', :controller => 'flags', :action => 'labour' %></li>
                    <li><%= link_to 'Educação', :controller => 'flags', :action => 'education' %></li>
                    <li><%= link_to 'Soberania', :controller => 'flags', :action => 'sovereignty' %></li>
                    <li><%= link_to 'Direitos Humanos', :controller => 'flags', :action => 'humanrights' %></li>
                    <li><%= link_to 'Previdência Social', :controller => 'flags', :action => 'foresight' %></li>
                          </ul>
                        </li>
                        <li><a href="#">Movimentos</a>
                          <ul>
                            <li><%= link_to 'Movimento Negro', :controller => 'movements', :action => 'black' %></li>
                    <li><%= link_to 'Movimento da Mulher', :controller => 'movements', :action => 'woman' %></li>
                    <li><%= link_to 'Juventude Socialista', :controller => 'movements', :action => 'social' %></li>
                    <li><%= link_to 'Movimento Comunitário', :controller => 'movements', :action => 'union' %></li>
                    <li><%= link_to 'Movimento FLB/PA', :controller => 'movements', :action => 'retired' %></li>
                  
                          </ul>
                        </li>
                        <li><a href="#">PDT nos Poderes</a>
                          <ul>
                            <li><%= link_to 'Executivo', :controller => 'powers', :action => 'executive' %></li>
                    <li><%= link_to 'Judiciário', :controller => 'powers', :action => 'legislative' %></li>
                          </ul>
                        </li>
                      
                       
                      </ul>
                    </div><!-- end side -->
                 
              </aside>
            </div><!--end:container-->
        </div><!--end:container_wrap-->
    </div><!--end:page_wrap-->