<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @news_featured.title %>
</p>

<p>
  <b>Description:</b>
  <%= @news_featured.description %>
</p>

<p>
  <b>Content:</b>
  <%= @news_featured.content %>
</p>

<p>
  <b>Newscategory:</b>
  <%= @news_featured.newscategory_id %>
</p>

<p>
  <b>Author:</b>
  <%= @news_featured.author %>
</p>

<p>
  <b>Date:</b>
  <%= @news_featured.date %>
</p>


<%= link_to 'Edit', edit_news_featured_path(@news_featured) %> |
<%= link_to 'Back', news_featureds_path %>
