<h1>Listing lideres</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lideres.each do |lidere| %>
  <tr>
    <td><%= lidere.name %></td>
    <td><%= lidere.content %></td>
    <td><%= link_to 'Show', lidere %></td>
    <td><%= link_to 'Edit', edit_lidere_path(lidere) %></td>
    <td><%= link_to 'Destroy', lidere, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lidere', new_lidere_path %>
