    <div id="page_wrap">
        <div class="container_wrap">
            <div class="container">
            	<section class="primary-content">
                	<h2 class="h-title">Veja nossa Localização no mapa</h2>
                    <div class="map-with-heading">
                        <div id="basic_map" class="map">

                            <iframe width="755" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=+Rua+Abr%C3%A3o+Julio+Rahe,+2399+-+Santa+f%C3%A9%2F+Cep+79021-120+-+Campo+Grande%2FMS&amp;sll=-20.875572,-54.261694&amp;sspn=1.493531,2.570801&amp;ie=UTF8&amp;hq=Rua+Abr%C3%A3o+Julio+Rahe,+2399+-&amp;hnear=79021-120&amp;t=m&amp;ll=-20.45011,-54.591421&amp;spn=0.006295,0.020161&amp;output=embed"></iframe>
                        </div>	
                    </div>
                    <p>Ut vitae sapien nec sem lacinia euismod. Mauris quis mauris odio, a ultricies eros pharetra nisi facilisis. Fusce sagittis cursus risus, et hendrerit magna pellentesque vel. Mauris quis mauris odio, a ultricies eros pharetra nisi facilisis. Fusce sagittis cursus risus, et hendrerit magna pellentesque vel. Ut vitae sapien nec sem lacinia euismod. Mauris quis mauris odio, a ultricies eros pharetra nisi facilisis. Fusce sagittis cursus risus, et hendrerit magna pellentesque vel. Mauris quis mauris odio, a ultricies eros pharetra nisi facilisis. Fusce sagittis cursus risus, et hendrerit magna pellentesque vel.</p>
                    <ul class="info-area">
                    	<li class="location"> Rua Abrão Julio Rahe, 2399 - Santa fé/ Cep 79021-120 - Campo Grande/MS</li>
                        <li class="tel">(67) 3325-5212 - Fax: (67) 3384-8163</li>
                        <li class="email"><a href="mailto:redacao@pdtms.org.br">redacao@pdtms.org.br</a></li>
                        <li class="skype">pdtms13</li>
                    </ul>
                    <h2 class="h-title">Por favor envie-nos um contato por email</h2><br>
                    <div id="form-message"><p id="notice"><%= notice %></p></div>

                    <!-- renderizar formulario de contato -->
                    <%= form_tag(dispatch_email_path, :class => 'contactform', method: :post) do %>
                         <%= label_tag "user_info[name]", "Nome*", :class => 'label-block' %><br/>
                          <%= text_field_tag "user_info[name]", "" , :style => 'border:1px solid #000f2e; width:300px;'%><br />
                          <%= label_tag "user_info[email]", "Email*", :class => 'label-block' %><br/>
                          <%= text_field_tag "user_info[email]","", :style => 'border:1px solid #000f2e; width:300px;' %><br />
                          <%= label_tag "user_info[message]", "Mensagem*", :class => 'label-block' %><br/>
                          <%= text_area_tag "user_info[message]", "", size: "90x10", :style => 'border:1px solid #000f2e;' %><br/>
                          
                          <%= submit_tag "Enviar email", :style => 'width:240px; color:white; background:#000f2e;' %>

                    <% end %>

				       
                        <!-- end contact form -->
            	</section>
                <aside class="sidebar">
                    <div class="side">
                      <h3 class="head-title">Últimas noticias</h3>
                      <ul class="latest-project">
                        <% @news_featured.each do |nf| %>
                        <li><a href="#"><%= image_tag nf.imagenews_url(:mini_thumb)%></li>
                        <% end %>
                      </ul>
                    </div><!-- end side -->
                    <div class="side">
                      <h3 class="head-title">Categorias</h3>
                        <ul id="nav">
                        <li><a href="#">Notícias</a>
                          <ul>
                            <% @categories.each do |c| %>
                            <li><%= link_to c.title %></li>
                            <% end %>
                          </ul>
                        </li>
                       
                      </ul>
                    </div><!-- end side -->
                    <div class="side">
                      <h3 class="head-title">Assine nossa newsletter</h3>
                        <p>Increva-se agora mesmo e receba novidades do partido em seu email.</p>
                        <form action="#" method="post" class="subscribe">
                            <fieldset>
                                <input type="text" name="email" class="email" value="Email" onBlur="if (this.value == ''){this.value = 'Email'; }" onFocus="if (this.value== 'Email') {this.value = ''; }" />
                              <input type="submit" name="submit" value="Assinar" class="submit" />
                          </fieldset>
                        </form>
                    </div><!-- end side -->
              </aside>
            </div><!--end:container-->
        </div><!--end:container_wrap-->
    </div><!--end:page_wrap-->

    <div style="width:100%; height:80px;"><hr></div>