<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @news_category.title %>
</p>

<p>
  <b>Description:</b>
  <%= @news_category.description %>
</p>


<%= link_to 'Edit', edit_news_category_path(@news_category) %> |
<%= link_to 'Back', news_categories_path %>
