<h1>Listing educacaos</h1>

<table>
  <tr>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @educacaos.each do |educacao| %>
  <tr>
    <td><%= educacao.content %></td>
    <td><%= link_to 'Show', educacao %></td>
    <td><%= link_to 'Edit', edit_educacao_path(educacao) %></td>
    <td><%= link_to 'Destroy', educacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Educacao', new_educacao_path %>
